<!DOCTYPE html>
<html lang="de">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>spring-boot-sample-data-jpa-h2</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h1>Project</h1>
    <h2>prueba Spring Boot con JPA y persistencia en H2 database</h2>
  </div>
  <table class="table table-striped">
    <thead>
    <th>#</th>
    <th>Marca</th>
    <th>Modelo</th>
    </thead>
    <tbody>
    <tr th:each="vehiculo : ${vehiculoList}">
      <td th:text="${vehiculo.id}"></td>
      <td th:text="${vehiculo.marca}"></td>
      <td th:text="${vehiculo.modelo}"></td>
    </tr>
    </tbody>
  </table>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>